<h1><%= t('text.hello') %> <%= session[:name]&.capitalize%></h1>

<%= render "shared/menu" %>

<p><%= t('text.language') %>: <strong><%= t('text.locale') %></strong></p>
<p><strong>Hoje é:</strong> <%= l(Date.today) %></p>

<p>Você esta acessando o ambiente de <strong><%= ambiente_rails %></strong></p>

<p>Parâmetros: <strong><%= @id %></strong></p>
