<p id="notice"><%= notice %></p>

<h1>Mining Types</h1>

<%= render "shared/menu" %>

<p>
  <strong><%= MiningType.human_attribute_name(:description) %>:</strong>
  <%= @mining_type.description %>
</p>

<p>
  <strong><%= MiningType.human_attribute_name(:acronym) %>:</strong>
  <%= @mining_type.acronym %>
</p>

<%= link_to t('links.edit'), edit_mining_type_path(@mining_type) %> |
<%= link_to t('links.back'), mining_types_path %>
