<h1><%= @coin.description %></h1>

<p id="notice"><%= notice %></p>

<%= render "shared/menu" %>

<p>
  <strong>Descrição:</strong>
  <%= @coin.description %>
</p>

<p>
  <strong>Sigla:</strong>
  <%= @coin.acronym %>
</p>

<p>
  <strong>Simbolo:</strong>
  <%= image_tag @coin.url_image, width: 50, height: 50 %>
</p>

<%= link_to 'Editar', edit_coin_path(@coin) %> |
<%= link_to 'Voltar', coins_path %>
